@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// - - - - - - - - - - - - - TYPOGRAPHIC DECLARATIONS - - - - - - - - - - - - - //

// --------------- defaults ----------------

*, *:before, *:after {
	@include box-sizing;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-backface-visibility: hidden;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

body {
	background-color: $color-bg;
	color: $color-bodycopy;
	//font-size: $type-pct;
	//line-height: $lineheight-factor;
	font-family: 'Nunito', $helvetica;

	@include respond-to(mobile-skinny) {
		-webkit-overflow-scrolling: touch;
	}

	@include respond-to(superwide) {
		-webkit-overflow-scrolling: auto;
	}
}

html>body {
	 //font-size: $type-px*1px;
}

// --------------- headers and paragraphs ----------------

h1, h2, h3, h4, h5, h6 {
	color: $color-heading;
	font-weight: 400;
	font-family: 'Nunito Bold', $helvetica;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

// --------------- in-line emphasis ----------------

b, strong {

}

i, em {

}

u {

}

s {

}

// --------------- quotes, cites and definitions ----------------

blockquote {

	&:before, &:after {

	}
}

q {

}

cite {

}

dfn {

}

abbr {

}

// --------------- code and preformatted ----------------

pre, code, samp, kbd {

}

var {

}

// --------------- smalltext ----------------

small {

}

sub {

}

sup {

}

// --------------- bidirectional ----------------

bdo {

}

// --------------- insertions and deletions ----------------

ins {

}

del {

}

// --------------- informational ----------------

address {

}

// - - - - - - - - - - - - - HTML5 TYPOGRAPHIC DECLARATIONS - - - - - - - - - - - - - //

mark {

}

ruby {

	rp {

	}

	rt {

	}
}

// - - - - - - - - - - - - - STANDARD HYPERLINK DECLARATIONS - - - - - - - - - - - - - //

a, a:link, a:visited {
	@include transition(color $duration ease-in-out);
	color: $color-primary;
	text-decoration: none;
}

a:active {

}

a:hover, a:focus {
	color: lighten($color-primary, $color-shift*4);
}

// - - - - - - - - - - - - - LIST DECLARATIONS - - - - - - - - - - - - - //

ul {

}

ul li {

}

ol {

}

ol li {

}

dl {

}

dt {

}

dd {

}

// - - - - - - - - - - - - - FORM ELEMENT DECLARATIONS - - - - - - - - - - - - - //

fieldset {

}

legend {

}

label {

}

input[type="button"], input[type="submit"], input[type="reset"], button[type="button"], button[type="submit"], button[type="reset"], button, a.button {

	&:hover {

	}

	&:active {

	}
}

input[type="text"], input[type="password"], input[type="file"] {

	&:hover {

	}

	&:focus {

	}
}

textarea {

	&:hover {

	}

	&:focus {

	}
}

input[type="radio"], input[type="checkbox"] {

	&:hover {

	}

	&:checked {

	}
}

select {

	&:hover {

	}

	&:focus {

	}

}

select option {

	&:hover {

	}
}

input[disabled] {

}

input[readonly] {

}


// - - - - - - - - - - - - - TABLE STRUCTURE DECLARATIONS - - - - - - - - - - - - - //

table {

}

thead tr, tfoot tr {

}

thead th, tfoot th {

}

tbody tr {

}

tbody th {

}

tbody td {

}

caption {

}

// - - - - - - - - - - - - - HTML5 NON-STRUCTURAL ELEMENT DECLARATIONS - - - - - - - - - - - - - //

// --------------- secondary information ----------------

figure {

}

figcaption {

}

// --------------- form elements ----------------

progress {

}

meter {

}

datalist {

 	&:hover {

 	}

	&:focus {

	}
}

datalist option {

	&:hover {

	}
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {

	&:hover {

	}

	&:focus {

	}
}

// - - - - - - - - - - - - - HTML5 STRUCTURAL ELEMENT DECLARATIONS - - - - - - - - - - - - - //

header {

}

nav {

}

section {

}

article {

}

aside {

}

footer {

}

audio {

}

video {

}

canvas {

}

// - - - - - - - - - - - - - FOCUSED DECLARATIONS - - - - - - - - - - - - - //

.header {
	@include clearfix;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: $header-height;

	div {
		@include inlineblock;
		//float: left;
	}

	.menu {
		@include inlineblock;
		@include opacity(0.3);
		@include transition(opacity $duration ease-in-out);
		@include hide-text;
		background-image: url('../img/menu.png');
		background-size: 30px 30px;
		position: absolute;
		top: 50%;
		right: $padding;
		margin-top: -15px;
		width: 30px;
		height: 30px;

		&:hover {
			@include opacity(1);
			cursor: pointer;
		}
	}

	.hidemenu {
		display: none;
		z-index: 10;
		background-color: $color-primary;
		background-image: url('../img/menu-close.png');
		opacity: 1;
	}

	.block-title {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		padding: $padding/2 $padding;
		height: $header-height;
		background-color: $color-primary;

		&:before {
			@include inlineblock;
			margin-right: -0.25em;
			height: 100%;
			content: '';
			vertical-align: middle;
		}

		.title-wrapper {
			@include inlineblock;
			vertical-align: middle;

			p {
				@include zero;
			}

			.title {

				@include respond-to(mobile-skinny) {
					font-size: em($type-small);
				}

				@include respond-to(tablet) {
					font-size: em($type-h6);
				}
				float: left;
				//font-weight: 700;
				color: $color-title-alt;
			}

			.subtitle {

				@include respond-to(mobile-skinny) {
					font-size: em(12);
				}

				@include respond-to(tablet) {
					font-size: em($type-small);
				}
				float: left;
				clear: left;
				color: $color-bodycopy-alt;
			}
		}
	}

	.block-navigation {
		display: block;
		background-color: tint($color-bg, $color-shift);
		text-align: right;

		@include respond-to(mobile-skinny) {
			margin-top: $header-height;
		}

		@include respond-to(tablet) {
			margin-top: auto;
		}

		ul {
			@include zero;
			line-height: $header-height;
		}

		li {

			@include respond-to(mobile-skinny) {
				height: 50px;
				font-size: em($type-small);
				line-height: 50px;

				a {
					position: relative;
					@include transition(all $duration ease-in-out);
					display: block;
					padding-right: $margin;

					&:hover {
						background-color: tint($color-bg, $color-shift*3);
						box-shadow: inset -10px 0 0 0 lighten($color-primary, $color-shift*4);
					}

					&.selected:before {
						content: '';
						position: absolute;
						box-shadow: inset 10px 0 0 0 $color-primary;
						left: 0;
						bottom: 0;
						width: 10px;
						height: 100%;
					}
				}
			}

			@include respond-to(tablet) {
				@include inlineblock;
				margin-right: $margin/2;
				height: $header-height;
				line-height: $header-height;

				a {
					padding-right: 0;

					&:hover {
						background-color: transparent;
						box-shadow: inset 0 -10px 0 0 lighten($color-primary, $color-shift*4);
					}

					&.selected:before {
						box-shadow: inset 0 10px 0 0 $color-primary;
						bottom: auto;
						top: 0;
						width: 100%;
						height: 10px;
					}
				}

				&:last-child {
					margin-right: $margin;
				}
			}

			@include respond-to(superwide) {
				margin-right: $margin*2;
				font-size: em($type-px);
			}
			list-style-type: none;
		}
	}
}

.content-title {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: $padding;
	background-color: $color-primary;

	p {
		@include zero;
		text-align: left;
	}

	.work-title {
		color: $color-title-alt;
	}

	.work-subtitle {
		color: $color-bodycopy-alt;
		font-size: em($type-small);
	}
}

.no-js, .js.no-csstransitions, .js.no-csstransforms {

	#menu {

		&:target {

			.hidemenu {
				display: block;
				z-index: 10;
				opacity: 1;
			}
		}

		&:not(:target) {

			@include respond-to(mobile-skinny) {
				display: none;
			}

			@include respond-to(tablet) {
				display: block;
			}

			.hidemenu {
				display: none;
			}
		}
	}

	.showmenu {
		@include respond-to(mobile-skinny) {
			display: block;
		}

		@include respond-to(tablet) {
			display: none;
		}
	}
}

.js {

	&.no-csstransitions.no-csstransforms {

	}

	&.no-css-calc {

	}

	&.csstransitions.csstransforms {

		.block-navigation {
			@include transform(none);
			//@include transition(all $duration ease-in-out);
			//@include transition-movement($duration*3);
			@include transition(all $duration*3 $easeInOutExpo);

			@include respond-to(mobile-skinny) {

				&.hidden{
					@include transform(translateY(-250px));
					visibility: hidden;
				}
			}

			@include respond-to(tablet) {

				&.hidden{
					@include transform(translateY(-$header-height));
					//display: none;
				}
			}
		}
	}

	&.css-calc {

	}
}

// - - - - - - - - - - - - - FONTFACE DECLARATIONS (always loaded last) - - - - - - - - - - - - - //

@include font-face($family-reg, 'font/nunito-l');
//@include font-face($family-italic, 'font/opensans-i');
@include font-face($family-bold, 'font/nunito-r');
//@include font-face($family-icon, 'font/icomoon');