@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// - - - - - - - - - - - - - STRUCTURAL STYLESHEET - - - - - - - - - - - - - //

// ------------------ mixins ------------------ //

@mixin full-width {
	width: 100%;
}

@mixin one-third {

	@include respond-to(mobile-skinny) {
		width: 100%;
	}

	@include respond-to(tablet) {
		width: 50%;
	}

	@include respond-to(superwide) {
		width: 33.333%;
	}
}

@mixin two-thirds {

	@include respond-to(mobile-skinny) {
		width: 100%;
	}

	@include respond-to(tablet) {
		width: 50%;
	}

	@include respond-to(superwide) {
		width: 66.666%;
	}
}

// ------------------ sizing ------------------ //

.single {
	@include one-third;
}

.double {
	@include two-thirds;
}

.triple {
	@include full-width;
}

// ------------------ declarations ------------------ //

.wrapper {
	@include stretch;
	@include zero;
	@include clearfix;
}

.header {

	.block-title, .content-title {
		@include one-third;
	}

	.block-navigation {
		@include two-thirds;

		@include respond-to(tablet) {
			margin-left: 50%;
		}

		@include respond-to(superwide) {
			margin-left: 33.333%;
		}
	}
}

.cell {
	height: 400px; // 1/3 of 1200px height, fixed for now
}

.container {
	@include inlineblock;
	padding-top: $header-height;
	float: left;
}