@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// ---------- styles loaded for unique modules and page code ---------- //

// --------- mixins and variables --------- //

@mixin tabbar {
	position: absolute;
	height: $tabbar-height;
}

@mixin tabbutton {
	@include hide-text;
	@include transition(all $duration ease-in-out);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px 20px;
	cursor: pointer;
}

@mixin project-nav {
	top: 50%;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center center;
}

// --------- declarations --------- //

body, .project {
	overflow-y: hidden;
}

.container {
	padding-top: $header-height + $tabbar-height;
	//padding-top: $header-height;
}

.project {
	height: 100%;
	background-color: white;
	font-size: 0px;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
		//@include filter(blur(5px));
		//@include transition(all $duration ease-in-out);

	img {
		height: 100%;
		width: auto;
		@include inlineblock;
	}
}

.project-navigation {
	position: absolute;
	z-index: 1;

	&.back {
		@include project-nav;
		left: $margin;
		background-image: url('../img/previous.png');
	}

	&.forward {
		@include project-nav;
		right: $margin;
		background-image: url('../img/next.png');
	}

	&.paging {
		width: 100%;
		text-align: center;
		bottom: $margin*2;
	}

	&.back, &.forward, & .paging-steps {
		@include hide-text;
		@include transition(all $duration ease-in-out);
		background-color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
		border-radius: 50%;
		border: 1px solid rgba(187, 187, 187, 0.7);
		//@include opacity(1.0);

		&:hover {
			//background-color: $color-primary;
			background-color: rgba(109, 198, 255, 0.7);
		}
	}

	& .paging-steps {
		@include inlineblock;
		width: 20px;
		height: 20px;
		margin-right: $margin/4; // border thickness
		//border: 1px solid #bbb;

		&.selected {
			border: 2px solid #00f;
			//border: 4px solid red;
			//background-color: #00f;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 80px;
	background-color: rgba(21, 21, 21, 0.95);
	overflow-y: hidden;
	z-index: 2;
		//@include transform(none);
		//@include transition(all $duration*2 ease-in-out);
		//@include transition(all $duration*2 $transition-timing);
		//@include transition-timing-function($transition-timing);
		//@include transition-movement($duration*3);
		//@include transition(all $duration*3 $easeInOutExpo);

	p {
		color: $color-bodycopy;

		//&:first-child {
		//	margin-top: 0;
		//}

		&:last-child {
			margin-bottom: 0;
		}

		@include respond-to(mobile-skinny) {
			font-size: em($type-small);
		}

		@include respond-to(tablet) {
			font-size: em($type-h6);
		}

		@include respond-to(superwide) {
			font-size: em($type-h5);
		}
	}

	h1 {
		//color: #eee;
		//margin-top: 0;

		@include respond-to(mobile-skinny) {
			font-size: em($type-h5);
		}

		@include respond-to(tablet) {
			font-size: em($type-h4);
		}

		@include respond-to(superwide) {
			font-size: em($type-h3);
		}
	}

	.description {
		padding: $padding;
		height: 100%;
			//height: -moz-calc(100% - 30px);
			//height: calc(100% - 30px);

		@include respond-to(mobile-skinny) {
			margin-left: 0%;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		@include respond-to(superwide) {
			padding: $padding 10%;
			margin-left: 33.333%;
			overflow-y: auto;
			-webkit-overflow-scrolling: auto;
		}

		.tag {
			@include inlineblock;
			@include transition(all $duration ease-in-out);
			padding: $padding/4 $padding/2;
			background-color: rgba(255, 255, 255, 0.1);
			color: $color-title;
			cursor: pointer;
			margin-bottom: $padding/4;

			&:hover {
				color: $color-title-alt;
				//background-color: $color-primary;
				background-color: rgba(109, 198, 255, 0.7);
			}
		}
	}

	.control-close {
		@include tabbar;
		@include tabbutton;
		background-color: rgba(255, 255, 255, 0.1);
		//background-color: red;

		@include respond-to(mobile-skinny) {
			bottom: 0;
			left: 0;
			right: 0;
			background-image: url('../img/close-bar.png');

			&:hover {
				background-color: rgba(255, 0, 0, 0.7);
			}
		}

		@include respond-to(tablet) {

		}

		@include respond-to(superwide) {
			background-image: url('../img/close-cross.png');
			width: 33.333%;
			top: 80px;
		}
	}
}

.controls {
	@include tabbar;
	@include transition(opacity $duration ease-in-out);
	top: 80px;
	z-index: 1;
	font-size: 0; // inlineblock spacing fix

	.control-back {
		@include tabbutton;
		@include inlineblock;
		height: $tabbar-height;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.1);
		background-image: url('../img/back.png');
		//width: 33.333%;
		//background-color: #eee;

		&:hover {
			background-color: rgba(255, 0, 0, 0.7);
		}
	}

	.control-open {
		@include tabbutton;
		@include inlineblock;
		height: $tabbar-height;
		width: 50%;
		background-color: rgba(0, 0, 0, 0.1);
		background-image: url('../img/info.png');
		//width: 33.333%;
		//background-color: #eee;

		&:hover {
			background-color: rgba(109, 198, 255, 0.7);
		}
	}

	//&.overlay-displayed {
	//	@include opacity(0);
	//}
}

.overlay-displayed {
	@include opacity(0);
}

.overflow-on {
	overflow-x: auto !important;
}

.preloader {
	z-index: 20;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	//background-color: $color-bg;
	background-color: #333;
	text-align: center;

	.loading-anim {
		position: relative;
		@include inlineblock;
		//margin: 0 12.5% 100px;
		margin-left: $margin/2;
		width: 10px;
		height: 10px;
		border: 2px solid $color-primary;
		border-radius: 50%;

		animation: spin 0.75s infinite linear;

		border-top-color: transparent;

		&:before, &:after {
			left: -2px;
			top: -2px;
			display: none;
			position: absolute;
			content: '';
			width: inherit;
			height: inherit;
			border: inherit;
			border-radius: inherit;
		}

		&:after {
			display: block;
			border-color: transparent;
			border-top-color: $color-primary;
			animation: spin 1.25s infinite linear reverse;
		}
	}

	p {
		@include inlineblock;

		@include respond-to(mobile-skinny) {
			font-size: em($type-small);
		}

		@include respond-to(tablet) {
			font-size: em($type-h6);
		}

		@include respond-to(superwide) {
			font-size: em($type-h5);
		}
	}

	&:before {
		@include inlineblock;
		margin-right: -0.25em;
		height: 100%;
		content: '';
		vertical-align: middle;
	}

	.feedback {
		@include inlineblock;
		vertical-align: middle;
		width: 99%;
		//width: 400px;
	}

	.progress {
		height: 4px;
		border: 1px solid lighten($color-bg, $color-shift);

		.bar {
			//width: 20px;
			@include inlineblock;
			height: 100%;
			background: $color-primary;
			float: left;
		}
	}
}

@include keyframes(spin) {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.no-js {

	.project-navigation {
		display: none;
	}

	.preloader {
		display: none;
	}

	.overlay {

		&:target {
			display: block;
		}

		&:not(:target) {
			display: none;
		}
	}
}

.js {

	.project {
		overflow: hidden;
	}

	.preloader {
		//display: none;
	}

	&.no-csstransitions, &.no-csstransforms {

		.overlay {

			&:target {
				display: block;
			}

			&:not(:target) {
				display: none;
			}
		}
	}

	&.no-csscalc {

	}

	&.csstransitions.csstransforms {

		.overlay {
			@include transform(none);
			//@include transition(all $duration*2 ease-in-out);
			//@include transition(all $duration*2 $transition-timing);
			//@include transition-timing-function($transition-timing);
			//@include transition-movement($duration*3);
			@include transition(all $duration*3 $easeInOutExpo);
		}

		.overlay-hidden {

			.project {
					//@include filter(none);

				img {

				}
			}

			.overlay {
				//display: none;
				@include transform(translateY(-100%));
			}
		}
	}

	&.csscalc {

		.overlay {

			.description {
				height: -moz-calc(100% - 30px);
				height: calc(100% - 30px);
			}
		}
	}
}