@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// ---------- styles loaded for unique modules and page code ---------- //

.wrapper {
	background: lighten($color-bg, $color-shift);

	@include respond-to(mobile-skinny) {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	@include respond-to(tablet) {
		overflow: hidden;
	}
}

.profile-image {
	overflow: hidden;
	text-align: center;
	//max-height: 100%;

	@include respond-to(mobile-skinny) {
		height: 700px;
	}

	@include respond-to(tablet) {
		height: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.profile-info {
	//max-height: 100%;

	@include respond-to(mobile-skinny) {
		padding-top: 0;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	@include respond-to(tablet) {
		height: 100%;
		padding-top: $header-height;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.profile-content {
		padding: $padding;

		@include respond-to(superwide) {
			padding: $padding 20%;
		}

		h1 {

			@include respond-to(mobile-skinny) {
				font-size: em($type-h4);
			}

			@include respond-to(tablet) {
				font-size: em($type-h3);
			}

			@include respond-to(superwide) {
				font-size: em($type-h2);
			}
		}

		p {

			@include respond-to(mobile-skinny) {
				font-size: em($type-small);
			}

			@include respond-to(tablet) {
				font-size: em($type-h6);
			}

			@include respond-to(superwide) {
				font-size: em($type-h5);
			}
		}
	}
}