@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// ---------- styles loaded for unique modules and page code ---------- //

.wrapper {
	position: static !important;
	background-image: url('../img/background.jpg');
	background-position: right bottom;
	background-repeat: no-repeat;
}

.cell {
	@include zero;
	position: relative;
	float: left;
	overflow: hidden;

	&.site-title {
		background-color: $color-primary;

		@include respond-to(mobile-skinny) {
			visibility: hidden;
			height: $header-height;
		}

		@include respond-to(tablet) {
			visibility: visible;
			height: 400px;
		}
	}
	
	&.block-introduction {
		background-color: $color-primary;
		padding: $padding;
		position: relative;
		
		// cell inner-content alignment classes
		// Centering In The Unknown: https://css-tricks.com/centering-in-the-unknown
		
		&:before {
			vertical-align: middle;
			content: '';
			display: inline-block;
			height: 100%;
			margin-right: -0.25%;
		}
		
		.text {
			display: inline-block;
			color: $color-title-alt;
			vertical-align: bottom;
			width: 99%;
			font-size: em($type-h2);
		}
		
		@include respond-to(mobile-skinny) {
			height: auto;
		}

		@include respond-to(tablet) {
			height: 400px;
		}
	}
}

.work {
	background-color: $color-bg;

	img {
		@include opacity(0.2);
		@include transition(opacity $duration ease-in-out);
		position: relative;
		z-index: 0;
	}

	.description {
		@include transition(background-color $duration ease-in-out);
		position: absolute;
		top: 0;
		z-index: 1;
		padding: $padding;
		width: 100%;
		background-color: rgba(238, 238, 238, 0);
		color: $color-bodycopy;

		p {
			@include zero;
			position: relative;
		}

		.work-title {
			@include transition(color $duration ease-in-out);
			color: $color-title;
		}

		.work-subtitle {
			@include transition(color $duration ease-in-out);
			color: $color-bodycopy;
			font-size: em($type-small);
		}
	}

	&:hover {
		cursor: pointer;

		& img {
			@include opacity(1);
		}

		& .description {
			background-color: rgba(238, 238, 238, 1);
		}

		& .work-title {
			color: $color-title-alt;
		}

		& .work-subtitle {
			color: $color-bodycopy-alt;
		}
	}
}

.no-js {

	@include respond-to(tablet) {

		.wrapper {
			padding-top: 80px;
		}

		.header {
			top: 0;
		}
	}
}

.js {

	&.no-csstransitions, .no-csstransforms {

		@include respond-to(tablet) {

			.wrapper {
				padding-top: 80px;
			}

			.header {
				top: 0;
			}
		}

	}

	&.no-csscalc {

	}

	&.csstransitions.csstransforms {

	}

	&.csscalc {

	}
}