@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

// ---------- styles loaded for unique modules and page code ---------- //

.wrapper {
	background: lighten($color-bg, $color-shift);

	@include respond-to(mobile-skinny) {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	@include respond-to(tablet) {
		overflow: hidden;
	}
}

.contact-image {
	overflow: hidden;
	text-align: center;
	//max-height: 100%;

	@include respond-to(mobile-skinny) {
		height: 700px;
	}

	@include respond-to(tablet) {
		height: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.contact-info {
	//max-height: 100%;

	@include respond-to(mobile-skinny) {
		padding-top: 0;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	@include respond-to(tablet) {
		height: 100%;
		padding-top: $header-height;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.contact-content {
		padding: $padding;

		@include respond-to(superwide) {
			padding: $padding 20%;
		}

		h1 {

			@include respond-to(mobile-skinny) {
				font-size: em($type-h4);
			}

			@include respond-to(tablet) {
				font-size: em($type-h3);
			}

			@include respond-to(superwide) {
				font-size: em($type-h2);
			}
		}

		p {

			@include respond-to(mobile-skinny) {
				font-size: em($type-small);
			}

			@include respond-to(tablet) {
				font-size: em($type-h6);
			}

			@include respond-to(superwide) {
				font-size: em($type-h5);
			}
		}
	}

	.contact-form {

		fieldset {
			border: 1px solid $color-bodycopy;
			padding: $padding;
			//padding-top: 0;
		}

		legend {
			padding: $padding/2;
			color: $color-heading;
			margin: 0;
		}

		dl {
			@include clearfix;
			margin: 0;
		}

		dt, dd {
			display: block;
			min-height: 30px;

			@include respond-to(mobile-skinny) {

			}

			@include respond-to(tablet) {

			}

			@include respond-to(superwide) {
				float: left;
			}
		}

		dt {
			clear: both;
			width: 160px;
			margin-right: $margin;
			padding: $padding/2;

			@include respond-to(mobile-skinny) {
				text-align: left;
				font-size: em($type-small);
			}

			@include respond-to(tablet) {
				font-size: em($type-h6);
			}

			@include respond-to(superwide) {
				text-align: right;
				font-size: em($type-h6);
			}
		}

		dd {
			margin-left: 0;
			margin-bottom: $margin;

			&:last-child {
				margin-bottom: 0;
			}

			@include respond-to(mobile-skinny) {
				width: 100%;
			}

			@include respond-to(tablet) {

			}

			@include respond-to(superwide) {
				width: 50%;
			}
		}

		.no-label {

			@include respond-to(mobile-skinny) {
				display: none;
			}

			@include respond-to(tablet) {

			}

			@include respond-to(superwide) {
				display: block;
			}
		}

		input[type="text"], textarea {
			@include transition(all $duration ease-in-out);
			background: transparent;
			color: white;
			width: 100%;

			&:hover, &:focus {
				background-color: $color-title-alt;
			}
		}

		textarea {
			resize: none;
			height: 150px;
			padding: $padding/2;
			border: 1px dashed $color-bodycopy;
		}

		input[type="text"] {
			border: 0;
			border-bottom: 1px dashed $color-bodycopy;
			padding: $padding/2;
			//padding: $padding/2;

			//&:hover {
			//	color: $color-title-alt;
				//background-color: $color-primary;
			//	border-color: rgba(109, 198, 255, 0.7);
			//}
		}

		input[type="submit"] {
			@include transition(all $duration ease-in-out);
			padding: $padding/4 $padding/2;
			background-color: rgba(255, 255, 255, 0.1);
			color: $color-title;
			cursor: pointer;
			margin-bottom: $padding/4;
			border: 0;

			&:hover {
				color: $color-title-alt;
				//background-color: $color-primary;
				background-color: rgba(109, 198, 255, 0.7);
			}
		}

		.error, .success {
			padding: $padding;
			color: white;
			margin-bottom: $margin;

			@include respond-to(mobile-skinny) {
				font-size: em($type-small);
			}

			@include respond-to(tablet) {
				font-size: em($type-h6);
			}

			@include respond-to(superwide) {
				font-size: em($type-h6);
			}
		}

		.error {
			border: 2px solid red;
			background-color: rgba(255,0,0,0.5);

			ul {
				margin-bottom: 0;
			}
		}

		.success {
			border: 2px solid green;
			background-color: rgba(0,255,0,0.5);

			h2 {
				margin-top: 0;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}