@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "base/easings"; // css3 easings http://matthewlein.com/ceaser

.wrapper {
// 	background: lighten($color-bg, $color-shift);
	background-size: cover;
	
	@include respond-to(mobile-skinny) {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	@include respond-to(tablet) {
// 		overflow: hidden;
	}
}

.casestudy-sidebar {
	
	@include respond-to(mobile-skinny) {
		display: none;
	}

	@include respond-to(tablet) {
		display: block;
	}
}

.casestudy {
// 	background-color: rgba(21, 21, 21, 0.95);
		background-color: rgba(243, 243, 243, 0.95);
	
	.casestudy-content {
		padding: 20px 0;
		
		a {
			color: #33ccff;
			
			&:hover {
				color: blue !important;
			}
		}
		
		> p, h1, h2, h3, h4, h5, h6, blockquote {
				color: #444;
			padding: 0 $padding;
	
			@include respond-to(ultrawide) {
				padding-left: 20%;
				padding-right: 20%;
			}
		}
		
		> h2 {
			margin-bottom: 0;
		}
		
		> h3 {
			margin-top: 60px;
		}
		
		> h1 {
	
			@include respond-to(mobile-skinny) {
				font-size: em($type-h4);
			}
	
			@include respond-to(tablet) {
				font-size: em($type-h3);
			}
	
			@include respond-to(superwide) {
				font-size: em($type-h2);
			}
		}
	
		> p {
	
			@include respond-to(mobile-skinny) {
				font-size: em($type-small);
			}
	
			@include respond-to(tablet) {
				font-size: em($type-h6);
			}
	
			@include respond-to(superwide) {
				font-size: em($type-h5);
			}
		}
		
		> blockquote {
			font-size: em($type-h3);
			color: #bbb;
			font-weight: 700;
			text-align: center;
		}
		
		.banner {
			@include box-shadow;
			background-size: cover;
			width: 100%;
			height: 80px;
			margin: 40px 0;
		}
		
		.row {
			text-align: center;
			
			a.card {
				@include transition(all $duration ease-in-out);
				background-color: lighten(#6dc6ff, $color-shift*2);
				
				&:hover {
					background-color: #6dc6ff;
				}
			}
					
			.card {
				@include inlineblock;
				@include box-shadow;
				text-align: left;
	// 			height: 180px;
				background-color: #fff;
				color: #222;
				vertical-align: top;
				
				@include respond-to(mobile-skinny) {
					padding: 20px;
					margin: 10px;
				}
	
				@include respond-to(tablet) {
					
				}
	
				@include respond-to(superwide) {
					width: 40%;
				}
				@include respond-to(ultrawide) {
					width: 25%;
				}
				
				img {
					width: 100%;
					height: auto;
				}
				
				h1 {
					padding: 0;
					margin-top: 0;
					
					@include respond-to(mobile-skinny) {
						font-size: em($type-h6);
					}
		
					@include respond-to(tablet) {
						font-size: em($type-h6);
					}
		
					@include respond-to(superwide) {
						font-size: em($type-h5);
					}
				}
				
				p {
					margin-bottom: 0;
				}
			}
		}
	}
}